<div>
    <div class="container 1">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://dipamex.mx/cdn/shop/products/minianotacioneskiut_1200x1200.png?v=1658243247" alt="Card image cap">
            <div class="card-body">
             <h5 class="card-title">Libretas Kiut</h5>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://detqhtv6m6lzl.cloudfront.net/HCLContenido/producto/FullImage/7702111588585-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Colores Premium</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://dipamex.mx/cdn/shop/products/minianotacioneskiut_1200x1200.png?v=1658243247" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Libretas Kiut</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>

<div>
    <div class="container 2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i5.walmartimages.com.mx/mg/gm/3pp/asr/7664ce72-1a38-4eae-9911-02193adb83fa.0d4f4c88889a1a51087778a89623cb39.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete de Pinceles</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.homedepot.com.mx/productos/754373/754373-za1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cemento Tolteca</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn11.bigcommerce.com/s-ml9vpcu4sj/images/stencil/1280x1280/products/17104/25577/Smart_color_Blue__37539.1670271871.jpg?c=1&imbypass=on" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kit para Viaje</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

    <div class="container 3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://dipamex.mx/cdn/shop/products/minianotacioneskiut_1200x1200.png?v=1658243247" alt="Card image cap">
        <div class="card-body">
         <h5 class="card-title">Libretas Kiut</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
      </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://detqhtv6m6lzl.cloudfront.net/HCLContenido/producto/FullImage/7702111588585-1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Colores Premium</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://dipamex.mx/cdn/shop/products/minianotacioneskiut_1200x1200.png?v=1658243247" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Libretas Kiut</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
</div>
